.popup__button {
  background-color: #000000;
  border-radius: 2px;
  height: 50px;
  width: 358px;
  margin-top: 28px;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.popup__button:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .popup__button {
    height: 46px;
    width: 238px;
    margin-top: 19px;
    font-size: 14px;
    line-height: 17px;
  }
}
