.element__button {
  background-image: url(../../../images/like.svg);
  background-color: rgba(0, 0, 0, 0);
  min-width: 22px;
  min-height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: 0;
  padding: 0;
}

.element__button:hover {
  opacity: 0.5;
}

