.profile__conteiner {
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  border: none;
  width: 120px;
  height: 120px;
  margin-right: 30px;
}

.profile__conteiner :hover {
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  .profile__conteiner {
    margin: 0;
  }
}
