.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  background-image: url(../../../images/adit_btn.svg);
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: 18px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}

