/* * {
    outline: 1px solid #ff3300;
} */

@import url("./vendor/normalize.css");
@import url("./vendor/fonts/font.css");

@import url("./blocks/body/body.css");
@import url("./blocks/page/page.css");

@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");

@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");

@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/profile/__conteiner/profile__conteiner.css");

@import url("./blocks/elements/elements.css");
@import url("./blocks/element/element.css");

@import url("./blocks/element/__photo/element__photo.css");
@import url("./blocks/element/__counter/element__counter.css");

@import url("./blocks/element/__description/element__description.css");
@import url("./blocks/element/__title/element__title.css");
@import url("./blocks/element/__button/element__button.css");
@import url("./blocks/element/__button/_active/element__button_active.css");
@import url("./blocks/element/__trash/element__trash.css");

@import url("./blocks/footer/__copyright/footer__copyright.css");

@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/_update/popup_update_avatar.css");
@import url("./blocks/popup/_confirm/popup_confirm.css");
@import url("./blocks/popup/__conteiner/popup__conteiner.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__info/popup__info.css");

@import url("./blocks/popup/__item/popup__item.css");
@import url("./blocks/popup/__button/popup__button.css");
@import url("./blocks/popup/__close/popup__close.css");
@import url("./blocks/popup/__button/_confirm/popup__button_confirm.css");
@import url("./blocks/popup/_img-background/popup_img-background.css");

@import url("./blocks/popup-image/popup-image.css");
@import url("./blocks/popup-image/__conteiner/popup-image__conteiner.css");
@import url("./blocks/popup-image/__label/popup-image__label.css");
@import url("./blocks/popup-image/__photo/popup-image__photo.css");

@import url("./blocks/popup/__item/_error/popup__item_error.css");
@import url("./blocks/popup/__button/_invalid/popup__button_invalid.css");
@import url("./blocks/popup/__error/popup__error.css");

@import url("./blocks/form/form-auth/form-auth.css");
@import url("./blocks/form/form-auth/__info/form-auth__info.css");
@import url("./blocks/form/form-auth/__item/form-auth__item.css");
@import url("./blocks/form/form-auth/__item/_error/form-auth__item_error.css");
@import url("./blocks/form/form-auth/__button/form-auth__button.css");
@import url("./blocks/form/form-auth/__link/form-auth__link.css");
@import url("./blocks/form/form-auth/__sing-in/form-auth__sing-in.css");

@import url("./blocks/popup/_info/popup_info.css");
@import url("./blocks/popup/__title/_info/popup__title_info.css");
@import url("./blocks/loader/loader.css");
@import url("./blocks/header/__conteiner/header__conteiner.css");
@import url("./blocks/header/__button/header__button.css");
@import url("./blocks/header/__email/header__email.css");
